extends layout

block content
  h1(class="Title")= title
  
   if (toShow == null)
    h2 No instance to Update
   else
    - let motelid = toShow._id   
    - let motel_type = toShow.motel_type
    - let Duration = toShow.Duration
    - let Cost = toShow.Cost
    div
      div.row
        div(class='motelAttr mr-3') motel ID is:
        div #{motelid}
      div.row
        div(class='motelAttr mr-3') motel motelType is:
        div #{motel_type}
      div.row
        div(class='motelAttr mr-3') motel Duration is:
        div #{Duration}
      div.row
        div(class='motelAttr mr-3') motel Cost is:
        div #{Cost}